Theatrix/Service References/Theatrix.Services/VideoServiceReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VideoServiceReceiver" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31472/VideoServiceReceiver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31472/VideoServiceReceiver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31472/VideoServiceReceiver.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVideoService_GetVideoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoById" />
  </wsdl:message>
  <wsdl:message name="IVideoService_GetVideoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVideoService_GetVideosByKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideosByKeyword" />
  </wsdl:message>
  <wsdl:message name="IVideoService_GetVideosByKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideosByKeywordResponse" />
  </wsdl:message>
  <wsdl:portType name="IVideoService">
    <wsdl:operation name="GetVideoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoService/GetVideoById" message="tns:IVideoService_GetVideoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoService/GetVideoByIdResponse" message="tns:IVideoService_GetVideoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideosByKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVideoService/GetVideosByKeyword" message="tns:IVideoService_GetVideosByKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVideoService/GetVideosByKeywordResponse" message="tns:IVideoService_GetVideosByKeyword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVideoService" type="tns:IVideoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVideoById">
      <soap:operation soapAction="http://tempuri.org/IVideoService/GetVideoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideosByKeyword">
      <soap:operation soapAction="http://tempuri.org/IVideoService/GetVideosByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VideoServiceReceiver">
    <wsdl:port name="BasicHttpBinding_IVideoService" binding="tns:BasicHttpBinding_IVideoService">
      <soap:address location="http://localhost:31472/VideoServiceReceiver.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>